# Dependencias de Node.js
node_modules/

# Archivos de compilacion
dist/
build/
dist-ssr/

# Registros y archivos temporales
*.log
logs/

# Variables de entorno
.env
.env.*
!.env.example

# Editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store

#Estos archivos son para ignorar cuando se implemente el backend en la evaluacion 3 (si es que no se cambia el caso)

# Archivos compilados de Java
*.class

# Archivos temporales de Java
*.ctxt
.mtj.tmp/

# Paquetes Java
*.jar
*.war
*.nar
*.ear

# Archivos comprimidos
*.zip
*.tar.gz
*.rar

# Registros de errores de la JVM
hs_err_pid*
replay_pid*
